body {
    background-color: #001310;
    background-image: url('https://mateishome.page/files/images/main_site_background_image.webp');
    background-position: top center;
    background-repeat: no-repeat;
    font: var(--w7-font);
    margin: 0;
}
@media screen and (min-width: 1920px) {
    body {
        background-size: 100% auto;
    }
}
.desktop-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}
.shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 75px;
    padding: 5px;
    margin: 5px;
}
.icon {
    width: 60px;
    height: 60px;
}
.hidden {
    display: none;
}
.window {
    position: absolute;
    min-width: 500px;
    max-width: 80%;
}
.directory-upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    height: 150px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.directory-upload-hidden, .directory-upload-part-two {
    display: none;
}
.version {
    display: flex;
    background-color: #fefefe;
    width: 75%;
    min-height: 75px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ececec;
}
.version-name-bg {
    font-size: 60px;
    overflow: hidden;
    text-wrap: nowrap;
    color: #00000011;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    width: calc(70% - 10px);
    padding-left: 10px;
    transform: translateY(-10px);
}
.version-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    z-index: 0; /* this allows the text to be selectable while the text in the background still cannot be */
    width: calc(100% - 20px);
}
.version-inner-left {
    text-align: left;
    width: 80%;
}
.version-inner-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.version-inner-right button {
    margin: 2px;
}
.version-name {
    font-size: 20px;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
}
.inactive-page {
    display: none;
}
.page-selector-wrapper {
    overflow-wrap: anywhere;
    display: flex;
    justify-content: center;
}
.page-selector, .selected-page-selector {
    display: inline;
    margin: 3px;
    font-size: 15px;
    border: 1px solid #ececec;
    min-width: 20px;
    text-align: center;
}
.page-selector {
    background: #f0f0f0;
    cursor: pointer;
}
.selected-page-selector {
    cursor: default;
    background: #cfcfcf;
}

.version-pages-container {
    overflow: hidden;
}

.version-changelog-word-count {
    color: #676767;
    font-size: 10px;
    vertical-align: top;
}

.bad {
    background: linear-gradient(90deg,#eb1039a0,#fff0);
    padding: 10px;
    padding-left: 96px;
    min-height: 74px;
}
.bad::before {
    content: "";
    background: url("/files/images/error.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 32px;
    top: 32px;
    width: 64px;
    height: 64px;
    background-size: contain;
}

.table-container {
    overflow-x: scroll;
    padding-bottom: 10px;
}

table {
    width: 100%;
    table-layout: auto;
}

th, td {
    max-width: 500px;
    width: 50px;
}

.thin-button {
    height: 20px;
    min-height: unset;
}